.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    align-content: center; // as a whole
    justify-content: center; // as a whole
    row-gap: 2rem;
    justify-items: center; // inside cell

    &__list {
        display: grid;
        grid-template-columns: 7rem max-content;
        column-gap: 2rem;
        row-gap: 5vh;
        align-items: center;
    }

    &__img {
        width: 100%;
        border-radius: 50%;
        display: block;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
}